/* *{margin:0;
padding:0;
} */



ul {
    background-color: black;
    width: 98%;
    height: 60px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 35px;
}

ul li a {
    color: white;
}

@media screen and (max-width:768px ) {

    .menu li {
    display: block;
}
.gauche {
    position: relative;
    width: 100%;
}
.droite{
    display: none;
    padding: 0px 10px;

}
}

.prin{
 display: flex;   
 max-width: 100%;
 margin: 2px 2px;
}
.droite{
    position: relative;
    padding-right: 1px;
    margin: 1px 1px;
    width: 20%;
    color: rgb(0, 0, 0);
    border: 1px transparent;
    background: grey;
}

.droite h2 {
    font-size: 22px;
}

.droite aside {
    padding: 1px 1px;
}

a {
    color: white;
}

.gauche {
    position: relative;
    width: 80%;
}



body {
    font-size: 1,1rem;
    font-family:'New Roman';
}

.logo {
   width: 200px; 
}

.promo {
    width: 100%;
}

.titre {
    width: 50%;
    position: relative;
    padding-top: 1px;
    font-size: 28px;
    margin-left: 40%;
}

.tab {
    width: 100%;
}
