body {
    background-color: cyan;
    
}

.pararouge {
    color: red;
    text-align: center;
}

.parableu {
    color: blue;
    text-align: center;
}

.paravert {
    color: green;
    text-align: center;
}

.titreorange {
    color: orange;
    text-align: center;
}

.test {
    color: purple;
    text-align: center;
}

.logo {
    width: 200px;
}

.promo {
    width: 100%;
}

ul {
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 35px;
}

ul li a {
    color: white;
}

.sidebar {
    position: absolute;
    right: 0px;
    padding-right: 0px;
    margin: 16px 1px;
    width: 15%;
    height: 500px;
    background-color: grey;
    border:1px transparent;
    
}